.active {
  border-bottom: 2px solid #23cefd;
  color: #222222;
  padding-bottom: 8px;
}

.inActive {
    color: #222222;
    opacity: 0.3;
}

@media only screen and (max-width: 1059px) {

  .active{
      color: #fff;
  }

  .inActive {
      color: #fff;
      opacity: 0.5;
  }
}