
.wrapper {
    position: relative;
    width: 348px;
    height: 220px;
}
.container {
    width: 348px;
    height: 220px;
    background-color: #01D167;
    border-radius: 12px;
    position: absolute;
    margin-top: 30px;
    padding: 24px;
}

.badge {
    position: absolute;
    background-color: #FFFFFF;
    width: 151px;
    height: 40px;
    border-radius: 6px 6px 0px 0px;
    top: 0px;
    right: 0;
    padding-top: 8px;
    padding-left: 12px;
    cursor: pointer;
}

@media only screen and (max-width: 740px) {

    .wrapper{
        width: 85vw;
    }

    .container {
        width: 85vw;
    }
}